
#textblock {
  background-color: black;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{
  background: black;
}

.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#artback {
  background-image: url(./images/pnb.svg);
}

#mountain {
  background-image: url(./images/mountain1.svg);
  z-index: 2;
}

#logoland {
  background-image: url(./images/road.svg);
  position: absolute;
  z-index: 3;
}

#jungle1 {
  background-image: url(./images/mountain2.svg);
  z-index:1; /* Set a lower z-index to position it behind the road */
}

#moon {
  background-image: url("./images/moon.svg"); 
  z-index: 0;
}

#grass {
  background-image: url(./images/grass.svg);
  z-index: 4;
  animation: shake 0.5s cubic-bezier(0.16, 1, 0.3, 1) ;
  animation-direction: alternate;
}
#text{
  font-size: 100px;
  color: white;
  margin-top: 400px;
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  animation: slideup 0.3s linear;
  position: relative; /* Enables animation based on top position */
}

#text1{
  font-size: 80px;
  color: white;
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  animation: slideup 0.3s linear;
  position: relative; /* Enables animation based on top position */
}

@keyframes slideup {
  0% {
    transform: translateY(-100%); /* Start out of view */
}
100% {
    transform: translateY(0); /* Animate to top position */
}
}

@keyframes shake {
  from, to {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-2px);
  }
  20% {
    transform: translateX(2px);
  }
  50%{
    transform: translate(-2px);
  }
  100%{
    transform: translate(2px);
  }
}

@media only screen and (max-width: 1024px) {
  #moon {
    background-image: url("./images/centre_moon.svg"); 
    z-index: 0;
    transform: scale(0.5)
  }

  #text{
    font-size: 70px;
    color: white;
    margin-top: 500px;
  }

  
  
 
}