
#textblock {
  background-color: #210002;
  height: 100vh;
  margin: 0;
}
.App{
  background: black;
}

.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#artback {
  background-image: url(./images/pnb.svg);
}

#mountain {
  background-image: url(./images/mountain1.svg);
  z-index: 2;
}

#logoland {
  background-image: url(./images/road.svg);
  position: absolute;
  z-index: 3;
}

#jungle1 {
  background-image: url(./images/mountain2.svg);
  z-index:1; /* Set a lower z-index to position it behind the road */
}

#moon {
  background-image: url(./images/moon.svg);
  z-index: 0;
}
#grass {
  background-image: url(./images/grass.svg);
  z-index: 4;
}
#text{
  font-size: 100px;
  color: white;
  margin-top: 400px;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

